.about {
  background-color: rgb(182, 156, 174);
  height: 50vh;
  width: 70vw;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.about > h1 {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
